  /*
  MEDIA QUERY BREAKPOINTS:

  mobile -
  tablet 768px
  desktop 1024px
  */

:root {
  font-family: var(--body-font);
  font-size: rem(16px);
  background-color: var(--black-color);
  color: #FFFFFF;

  // fonts
  --body-font: 'Exo 2', sans-serif;
  --header-font: 'Chathura', sans-serif;

  // colors
  --black-color: #1E1E1E;
  --hard-black-color: #191718;
  --white-color: #FEF8F2;
  --soft-white-color: #E7EBED;
  --purple-color: #6F38F6;
  --pink-color: #EA419A;
  --blue-color: #439EF5;
  --red-color: #F4473F;

  // visual effects
  --gradient: linear-gradient(90deg, rgba(111,56,246,1) 0%, rgba(234,65,154,1) 100%);
  --rounded-corners: 1px;
  --box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);

  // margins
  --min-margin: 18px;
  --standard-margin: 36px;
  --max-margin: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-family: var(--header-font);
  font-size: 6rem;  /* (96 / 16 = 6) */
  font-weight: 400;
}

h2,
h3 {
  font-family: inherit;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 20px;
}