.vibe-container {
  background-color: var(--hard-black-color);
  display: grid;
  grid-template-columns: 1fr;
}

.vibe-design {
  padding: 1rem;

  h2 {
    margin-bottom: var(--standard-margin);
  }
}

.vibe-phone-img {
  width: 100%;
  height: auto;
}

.vibe-btn {
  /* 
  TODO: add btn in HTML
  */
}
