.camera-card {
  position: relative;
  padding: 2rem;

  ol {
    list-style-position: inside;
    padding: 0px;
  }
}

.third-section {
  position: relative;
  height: 100vh;
}

.bg-image {
  position: relative;
  height: 100%;
  background-image: url(/assets/photos/dom-hill-nimElTcTNyY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 250px;
}

@media screen and (min-width: 500px) {
  .bg-image {
    background-position: 100% 0;
  }
}

@media screen and (min-width: 768px) {
  .camera-card {
    position: absolute;
    top: 30%;
    margin: 0;
    max-width: 350px;
    z-index: 10;
    background-color: var(--black-color);
    opacity: 0;
    transition: all 1s;
    transform: translateX(800px);
  }

  .camera-card.show {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 1024px) {
  .camera-card {
    max-width: 400px;
  }
}
