.camera-card {
  max-width: 385px;
  margin: 36px;

  ol {
    list-style-position: inside;
    padding: 0px;
  }
}

.third-section {
  position: relative;
  height: 100vh;
  background-image: url(/assets/photos/dom-hill-nimElTcTNyY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .camera-card {
    margin: 0;
    padding: 1rem;
    max-width: 350px;
    z-index: 10;
    background-color: var(--black-color);
    opacity: 0;
    transition: all 1s;
    transform: translateX(500px);
  }
}

.camera-card.show {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 1024px) {

}
